/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* background: url(./assets/flowers.jpg), url(./assets/sea.jpg);*/
  /* background: url(https://s3.us-east-2.amazonaws.com/picturesforanyone/images/flowers.jpg); */
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-color: #950740;
  color: white;
}



#content {
  text-align: center;
  padding-top: 0%;

  font-size: 2em;
}



hr {
  width: 400px;
  border-top: 1 px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
